.study-area {
  position: absolute;
  z-index: 2;
  width: 27%;
  left: 0.75%;
  top: 15.0%;
  bottom: 1.75%;
  border-radius: 12px;
  background-color: #E31837;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  margin-top: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  font-size: 2.60ch;
  padding-left: 18px;
}

h3 {
  margin-top: 5px;
  font-size: 20px;
  size: 20px;
}

#searchBar {
  height: 30px;
  width: 92%;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 1%;
  text-indent: 10px;
}

ul {
  font-weight: 400;
  display: inline-block;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: revert;
}

.filter{
  margin-top: 20px;
  margin-bottom: -25px;
  align-self: center;
  width: 92%;
}

.studyPlacesButton {
  background: #ffffff;
  background-size: 200% 100%;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5%;
  width: 90%;
  height: 60px;
  text-align: center;
}

.selectedCSS {
  margin: -7.5px -7.5px;
  background: white;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
}
