<div class="study-area">
  <h2>Study Areas at York</h2>
  <form>
    <input
      type="text"
      placeholder="Search for study areas..."
      id="searchBar"
      name="searchTerm"
      [(ngModel)]="searchTerm"
      (input)="filterStudyAreas()"
    />
  </form>

  <mat-form-field class="filter">
    <mat-label>Filtering</mat-label>
    <mat-select [(ngModel)]="selectedCategory" (selectionChange)="filterByCategory(selectedCategory)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ul>
    <button
      class="studyPlacesButton"
      *ngFor="let area of filteredStudyAreas"
      (click)="onSelectStudyArea(area)"
    >
      <div *ngIf="selectedStudyArea === area; else other_content" class="selectedCSS">
        <h3>{{ selectedStudyArea.name }}</h3>
        <p><strong>Charging Outlets:</strong> {{ selectedStudyArea.chargingOutlets ? 'Yes' : 'No' }}</p>
        <p><strong>Cleanliness Rating:</strong> {{ selectedStudyArea.cleanlinessRating }}</p>
        <p><strong>Accessible:</strong> {{ selectedStudyArea.accessible ? 'Yes' : 'No' }}</p>
        <p><strong>Loudness:</strong> {{ selectedStudyArea.loudness }}</p>
        <p><strong>Business Rating:</strong> {{ selectedStudyArea.business }}</p>
        <p><strong>Opening-Closing Hours:</strong> {{ selectedStudyArea.opening }}:00 to {{ selectedStudyArea.closing }}:00</p>
      </div>
      <ng-template #other_content>
        {{ area.name }}
      </ng-template>
    </button>
  </ul>
</div>
