<div class="study-area">
  <h2 id="pageTitle">Study Areas at York</h2>
  <form>
    <input
      type="text"
      placeholder="Search for study areas..."
      id="searchBar"
      name="searchTerm"
      [(ngModel)]="searchTerm"
      (input)="filterStudyAreas()"
    />
  </form>

  <mat-form-field class="filter">
    <mat-label>Filtering</mat-label>
    <mat-select
      [(ngModel)]="selectedCategory"
      (selectionChange)="filterByCategory(selectedCategory)"
    >
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ul>
    <button
      class="studyPlacesButton"
      *ngFor="let area of filteredStudyAreas"
      (click)="onSelectStudyArea(area)"
    >
      <div class="generalStudyInfo">
        <div class="nameAndStars">
          <h2 class="library-title">{{ area.name }}</h2>
          <div class="stars">
            <span *ngFor="let star of [1, 2, 3, 4, 5]" 
                  [class.filled]="star <= area.totalRating / (area.totalRatingCount + 0.01) + 1">
              ★
            </span>
          </div>
        </div>
        <div class="library-distance">
          <div class="statusLabel">Status:</div> 
          <div class="status">
            <span 
              *ngIf="area.name !== 'First Student Centre' && area.name !== 'Bergeron Sandbox'; else closed"
              class="status-open"
            >Open</span>
            <ng-template #closed>
              <span class="status-closed">Closed</span>
            </ng-template>
          </div>
        </div>
        <p class="library-hours">
          Hours {{ area.opening }}:00 to {{ area.closing }}:00
        </p>
      </div>

      <div class="lowerStudyCard">
        <p class="library-address">
          {{ area.address }}
        </p>
        <p class="library-tags">
          <span class="tags" *ngIf="area.totalBusyRating / (area.totalBusyCount + 0.01) + 1 >= 3">Busy</span>
          <span class="tags" *ngIf="area.totalCleanRating / (area.totalCleanCount + 0.01) + 1 >= 3">Clean</span>
          <span class="tags" *ngIf="area.totalLoudRating / (area.totalLoudCount + 0.01) + 1 >= 3">Loud</span>
          <span class="tags" *ngIf="area.totalRating / (area.totalRatingCount + 0.01) + 1 >= 3">Good Ratings</span>
        </p>
      </div>
    </button>
  </ul>
</div>
