.reviewBar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98.5%;
  left: 0.75%;
  top: 15.0%;
  bottom: 75.0%;
  background-color: #e0e0e0;
  overflow: hidden;
}

.recentReviews {
    margin-left: 2.5%;
    margin-bottom: 0;
    font-size: 30px;
}

.writeReview {
    margin-right: 2.5%;
    background-color: red;  /* Red background */
    color: white;           /* White text */
    border: none;           /* Removes default border */
    border-radius: 12px;    /* Rounded corners */
    cursor: pointer;       /* Changes the cursor to a pointer when hovering */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}
