.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100.0%;
  height: 15.0%;
  top: 0px;
  background-color: #ffffff;
  color: #000000;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.logo_container {
  height: 100%;
  display: flex;
  margin-left: 0.75%;
  justify-content: center;
  text-align: center;
}

img {
  height: 90.0%;
}

ul {
  width: 100%;
  margin-left: 3%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

li {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 25px;
}

a {
  color: #000000;
  text-decoration: none;
}

.active-link {
  color: #E31837;
}

.active-link a {
  color: #E31837;
}

button {
  display: block;
  background-color: #E31837;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  padding-left: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
