<nav class="navbar">
  <div class="logo_container">
    <img src="../assets/images/StudyYorkULogo.png" alt="StudyYorkU"/>
  </div>
  <ul>
    <li><a routerLink="/map" routerLinkActive="active-link" (click)="onStudyAreasClick()">Study Areas</a></li>
    <li><a routerLink="/reviews" routerLinkActive="active-link">Reviews</a></li>
    <li><a routerLink="/favourites" routerLinkActive="active-link">Favourites</a></li>    
    <li><a href="https://github.com/Jimmykhangnguyen/StudyWith-York-U">GitHub Repo</a></li>
    <li><button routerLink="/login">Login</button></li>
  </ul>  
</nav>
